<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

  <form action="/users/signup" method="post">
    Email: <input type="email" name="email" required>
    Password: <input type="password" name="password" required>
    Confirm Password: <input type="password" name="confirm_pass" required>
    <button type="submit" name="button">Sign Up</button>
  </form>
